# Data Processing & Transformation

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

gdsc1_df = pd.read_csv("../data/gdsc1.csv")  
cell_lines_df = pd.read_csv("../data/cell_lines.csv") 
#compounds_df = pd.read_csv("compounds.csv")
expression_df = pd.read_csv("../data/expression.csv")

gdsc1_df.head()

,DATASET,NLME_RESULT_ID,NLME_CURVE_ID,COSMIC_ID,CELL_LINE_NAME,SANGER_MODEL_ID,TCGA_DESC,DRUG_ID,DRUG_NAME,PUTATIVE_TARGET,PATHWAY_NAME,COMPANY_ID,WEBRELEASE,MIN_CONC,MAX_CONC,LN_IC50,AUC,RMSE,Z_SCORE
0,GDSC1,342,15580432,684057,ES5,SIDM00263,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,3.966813,0.985678,0.026081,1.299144
1,GDSC1,342,15580806,684059,ES7,SIDM00269,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.692090,0.972690,0.110059,0.156076
2,GDSC1,342,15581198,684062,EW-11,SIDM00203,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.477990,0.944459,0.087019,-0.035912
3,GDSC1,342,15581542,684072,SK-ES-1,SIDM01111,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.033564,0.950758,0.016290,-0.434437
4,GDSC1,342,15581930,687448,COLO-829,SIDM00909,SKCM,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.966007,0.954778,0.180255,0.401702

In [2]:
cell_lines_df.drop(cell_lines_df.tail(1).index,inplace=True) 
# Separated each column name in case I feel like changing them later
cell_lines_df["COSMIC identifier"] = cell_lines_df["COSMIC identifier"].astype(int)
cell_lines_df = cell_lines_df.rename(columns={'COSMIC identifier': 'COSMIC_ID'})
cell_lines_df = cell_lines_df.rename(columns={'Sample Name': 'SAMPLE_NAME'})
cell_lines_df = cell_lines_df.rename(columns={'Whole Exome Sequencing (WES)': 'WES'})
cell_lines_df = cell_lines_df.rename(columns={'Copy Number Alterations (CNA)': 'CNA'})
cell_lines_df = cell_lines_df.rename(columns={'Gene Expression': 'GENE_EXPRESSION'})
cell_lines_df = cell_lines_df.rename(columns={'Drug\nResponse': 'DRUG_RESPONSE'})
cell_lines_df = cell_lines_df.rename(columns={'GDSC\nTissue descriptor 1': 'GDSC_TD1'})
cell_lines_df = cell_lines_df.rename(columns={'GDSC\nTissue\ndescriptor 2': 'GDSC_TD2'})
cell_lines_df = cell_lines_df.rename(columns={'Cancer Type\n(matching TCGA label)': 'CANCER_TYPE'})
cell_lines_df = cell_lines_df.rename(columns={'Microsatellite \ninstability Status (MSI)': 'MSI'})
cell_lines_df = cell_lines_df.rename(columns={'Screen Medium': 'SCREEN_MEDIUM'})
cell_lines_df = cell_lines_df.rename(columns={'Growth Properties': 'GROWTH_PROPERTIES'})

cell_lines_df.columns = cell_lines_df.columns.str.strip()

cell_lines_df.head()

,SAMPLE_NAME,COSMIC_ID,WES,CNA,GENE_EXPRESSION,Methylation,DRUG_RESPONSE,GDSC_TD1,GDSC_TD2,CANCER_TYPE,MSI,SCREEN_MEDIUM,GROWTH_PROPERTIES
0,A253,906794,Y,Y,Y,Y,Y,aero_dig_tract,head and neck,NaN,MSS/MSI-L,D/F12,Adherent
1,BB30-HNC,753531,Y,Y,Y,Y,Y,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent
2,BB49-HNC,753532,Y,Y,Y,Y,Y,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent
3,BHY,753535,Y,Y,Y,Y,Y,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent
4,BICR10,1290724,Y,Y,Y,Y,Y,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent

In [3]:
binary_cols = ['WES', 'CNA', 'GENE_EXPRESSION', 'Methylation', 'DRUG_RESPONSE']
for col in binary_cols:
    cell_lines_df[col] = cell_lines_df[col].map({'Y': 1, 'N': 0})

cell_lines_df.head()

,SAMPLE_NAME,COSMIC_ID,WES,CNA,GENE_EXPRESSION,Methylation,DRUG_RESPONSE,GDSC_TD1,GDSC_TD2,CANCER_TYPE,MSI,SCREEN_MEDIUM,GROWTH_PROPERTIES
0,A253,906794,1,1,1,1,1,aero_dig_tract,head and neck,NaN,MSS/MSI-L,D/F12,Adherent
1,BB30-HNC,753531,1,1,1,1,1,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent
2,BB49-HNC,753532,1,1,1,1,1,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent
3,BHY,753535,1,1,1,1,1,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent
4,BICR10,1290724,1,1,1,1,1,aero_dig_tract,head and neck,HNSC,MSS/MSI-L,D/F12,Adherent

In [4]:
# Combining GDSC1 and cell lines on COSMIC_ID

gdsc1_cell_lines_df = pd.merge(gdsc1_df, cell_lines_df, on="COSMIC_ID")
gdsc1_cell_lines_df.head()

,DATASET,NLME_RESULT_ID,NLME_CURVE_ID,COSMIC_ID,CELL_LINE_NAME,SANGER_MODEL_ID,TCGA_DESC,DRUG_ID,DRUG_NAME,PUTATIVE_TARGET,...,CNA,GENE_EXPRESSION,Methylation,DRUG_RESPONSE,GDSC_TD1,GDSC_TD2,CANCER_TYPE,MSI,SCREEN_MEDIUM,GROWTH_PROPERTIES
0,GDSC1,342,15580432,684057,ES5,SIDM00263,UNCLASSIFIED,1,Erlotinib,EGFR,...,1,1,1,1,bone,ewings_sarcoma,NaN,MSS/MSI-L,R,Adherent
1,GDSC1,342,15580806,684059,ES7,SIDM00269,UNCLASSIFIED,1,Erlotinib,EGFR,...,1,1,1,1,bone,ewings_sarcoma,NaN,MSS/MSI-L,R,Adherent
2,GDSC1,342,15581198,684062,EW-11,SIDM00203,UNCLASSIFIED,1,Erlotinib,EGFR,...,1,1,1,1,bone,ewings_sarcoma,NaN,MSS/MSI-L,R,Adherent
3,GDSC1,342,15581542,684072,SK-ES-1,SIDM01111,UNCLASSIFIED,1,Erlotinib,EGFR,...,1,1,1,1,bone,ewings_sarcoma,NaN,MSS/MSI-L,R,Semi-Adherent
4,GDSC1,342,15581930,687448,COLO-829,SIDM00909,SKCM,1,Erlotinib,EGFR,...,1,1,1,1,skin,melanoma,SKCM,MSS/MSI-L,R,Adherent

In [5]:
expression_df = expression_df.drop(columns=['GENE_title'])
expression_df = expression_df.dropna(subset=['GENE_SYMBOLS'])
expression_df = expression_df.set_index('GENE_SYMBOLS')
expression_df.columns = expression_df.columns.str.replace('DATA.', '')
expression_df = expression_df.T
expression_df.index.name = 'COSMIC_ID'
expression_df = expression_df.reset_index()

# There were 2 instances of COSMIC_IDs where there was a duplicate (ex. XXXXX and then XXXXX.1) and I simply removed those in order to simplify the data
cosmic_float = expression_df['COSMIC_ID'].astype(float)
expression_df = expression_df[cosmic_float % 1 == 0].copy()
expression_df['COSMIC_ID'] = cosmic_float[cosmic_float % 1 == 0].astype(int)

expression_df.head()

GENE_SYMBOLS,COSMIC_ID,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,...,LINC00514,OR1D5,ZNF234,MYH4,LINC00526,PPY2,KRT18P55,POLRMTP1,UBL5P2,TBC1D3P5
0,906826,7.632023,2.964585,10.379553,3.614794,3.380681,3.324692,3.566350,8.204530,5.235118,...,3.665788,3.134197,4.841169,2.628932,6.786925,2.997054,3.331134,3.130696,9.986616,3.073724
1,687983,7.548671,2.777716,11.807341,4.066887,3.732485,3.152404,7.827172,6.616972,5.809264,...,3.053174,3.327528,4.570476,2.783441,5.317911,3.263745,2.992611,3.260982,9.002814,3.000182
2,910927,8.712338,2.643508,9.880733,3.956230,3.236620,3.241246,2.931034,8.191246,5.426841,...,3.226808,3.326309,4.214729,2.603604,3.143006,3.112145,2.886574,3.176239,9.113243,2.916274
3,1240138,7.797142,2.817923,9.883471,4.063701,3.558414,3.101247,7.211707,8.630643,5.617714,...,3.110801,2.921903,4.060761,2.619540,3.153896,3.151576,3.812119,3.074432,9.958284,3.256500
4,1240139,7.729268,2.957739,10.418840,4.341500,3.840373,3.001802,3.375422,8.296950,5.669418,...,3.285372,3.474086,4.869199,2.450375,3.652660,2.918475,3.412586,3.213545,9.938978,3.396126

In [6]:
expression_df.to_parquet("../data/expression_df_clean.parquet")
gdsc1_cell_lines_df.to_parquet("../data/gdsc1_cell_lines_df_clean.parquet")